[Unit]
Description=Ladlor Chart Builder API healthcheck

[Timer]
Unit=ladlor-api-healthcheck.service
OnBootSec=1min
OnUnitActiveSec=15m
AccuracySec=10s
Persistent=true

[Install]
WantedBy=timers.target
