[Unit]
Description=Healthcheck on Ladlor Chart Builder API
Wants=network-online.target
After=network-online.target

[Service]
User=mads
Type=oneshot
EnvironmentFile=/home/mads/InteractiveGearProg/backend/.env
ExecStart=/home/mads/InteractiveGearProg/backend/ladlor-api-healthcheck.sh

[Install]
WantedBy=multi-user.target
