[Unit]
Description=Ladlor Chart Builder API
Requires=docker.service
After=docker.service network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=mads
WorkingDirectory=/opt/InteractiveGearProg/backend
ExecStart=/usr/bin/docker compose -f compose.yaml up -d
ExecStop=/usr/bin/docker compose -f compose.yaml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
