HEARTBEAT_URL=https://hc-ping.com/...
HEARTBEAT_TIMEOUT_SECONDS=10
DATABASE_URL=postgresql://...
BOTLOR_TOKEN=...
GUILD_ID=870315533780795402
SUBMITTED_ANNOTATIONS_CHANNEL_ID=1507720204082483371
REPORT_LOGS_CHANNEL_ID=1507720576574296164
