html, body
{
    height: 99%;
    width: 99.5%;
    background-color: black;
}

#background {
  background-image: url('../data/external/background.png');
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  min-height: 100%;
  /* border: 1px solid red; */
}

/* width must be 488px exactly */
/* horizontally centered */

/* top padding (y) ~ [2, 26] px */
/* height (x) is constrained to [335, 800] px */
/* bottom paddin (<) g constrained to [136, 190] px */



/* outer and inner to achieve effect of two borders*/
#bank-outer {
  width: 488px;
  min-height: 335px;
  max-height: 800px;
  border: 5px solid #121210;
  height: auto;
  margin: 0 auto;
  position: relative;
  margin-top: -5px; /* share border with bank header */
} 
#bank-inner {
  width: 486px;
  min-height: 335px;
  max-height: 800px;
  background-color: blue;
  /* background-color: #494034; */
  border: 1px solid #494946;
  height: auto;
  margin: 0 auto;
  position: relative;
} 
#bank-title {
  width: 488px;
  height: 32px;
  /* background-color: green; */
  background-color: #494034;
  border: 5px solid #121210;
  height: auto;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

#bank-title span{
    color: #FF981F;
}


#bank-header {
  display: flex;
  flex-flow: row wrap;
  /* border: 1px solid #4E4E4C; */
  width: 486px;
  height: 41px;
  background-color: #494034;
}
.header-element {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;
  background-color: #3A3329;
  border: 1px solid #716451
}
.header-corner {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 40px;
  background-color: #494034;
  border-bottom: 1px solid #716451;
}
#header-item {
  width: 40px;
  height: 40px;
}

.active{
  background-color: #494034;
  border-bottom: none;
}

.bank-tab{
  background-color: red;
  padding-left: 10px;

}


/* Outermost shell of bank interface with thick black 5px border*/
#bank {
  width: 478px;
  height: 790px;
  border: 5px solid #121210;
  background-color: #494034;
}
/* Title section with text. Goes inside bank at the top. */
#bank-title-section {
  width: 476px;
  height: 23px;
  border: 1px solid #535451;
  text-align: center;
}

#bank-title-section span {
  color: #FF981F;

}
/* additional border */
#margin {
  width: 478px;
  height: 4px;
  background-color: #121210;
}

/* Main big chunk of the bank in thin silver 1px border*/
#bank-main-section {
  width: 476px;
  height: 759px;
  border: 1px solid #535451;
}
/*bank tab button section including the separating lines */
#bank-tabs-section {
  width: 476px;
  height: 40px;
  /* background-color: aqua; */
  background-color: #2E2B23;
  display: flex;
  flex-direction: row;
}

/* bank tab buttons effectively have a set of borders, requiring an outer and an inner div. color is darker*/ 
.bank-tab-button{
  width: 37px;
  height: 36px;
  border: 1px solid #716451;
  background-color: #3A3329;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
  margin-right: 1px;

}
.bank-tabs-corner {
  width: 38px;
  height: 39px;
  border-bottom: solid 1px #2E2B23;
  background-color: #494034;
}
/* Overrides bottom border for continuity with rest of bank section, and matches its color. */
.active {
  background-color: #494034;
  height: 38px;
  border-bottom:  #494034;
}
.active > img {
  margin-bottom: 2px;
}
#bank-items-section {
  background-color: green;
  width: 370px;
  height: 500px;
  margin-left: 52px;
  display: flex;
  column-gap: 20px;
}
.bank-item {
  background-color: cyan;
  width: 32px;
  height: 32px;
}


.bank-item > span {
  position: absolute;
  top: 100%;
  left: 50%;
  color: yellow;
  font-size: 10px;
}


#bank-items-section > img {
  background-color: turquoise;
  margin-top: 3px;
  max-width: 32px;
  max-height: 32px;
}